In [4]:
import pandas as pd

file1 = pd.read_excel('sample_submission.xlsx')
file1.head()

          dt  Цена на арматуру  Объем
0 2022-09-05             46000      2
1 2022-09-12             46000      0
2 2022-09-19             46000      2
3 2022-09-26             45500      0
4 2022-10-03             45500      2

In [5]:
file2 = pd.read_excel('Грузоперевозки.xlsx')
file2.head()

          dt  Индекс стоимости грузоперевозок
0 2017-09-06                             1000
1 2017-09-13                              991
2 2017-09-20                              992
3 2017-09-27                              979
4 2017-10-04                              985

In [6]:
file3 = pd.read_excel('Данные рынка стройматериалов.xlsx')
file3.head(20)

,dt,Импорт цемента ЖД,Экспорт цемента ЖД,Отгрузка цемента хоппер ЖД,Отгрузка цемента остальные ЖД,Производство цемента,Импорт цемента,Экспорт цемента,Потребление цемента,Отгрузка цемента,Цена цемента с НДС,Цена цемента без НДС,Производство бетона РФ,Производство бетона МО,Производство бетона СПБ
0,2021-04-30,40.751000,27.530000,987.54000,201.757000,2.3891,52.331737,31.491150,2.290941,1.189297,3769.20,4968.10,1.919781,223.405,198.589
1,2021-05-31,69.979000,43.423000,1071.83200,256.733000,2.7115,79.639340,50.164150,2.670775,1.328565,3745.23,4822.46,2.059197,293.411,162.181
2,2021-06-30,105.525000,58.226000,1495.35100,446.953000,3.8468,125.590100,64.990750,3.984199,1.942304,3790.64,5299.51,2.837929,424.112,254.893
3,2021-07-31,125.093000,88.930000,1754.57600,573.133000,4.8559,182.176201,105.965900,4.933510,2.327709,3853.30,5031.96,3.302281,492.623,301.091
4,2021-08-31,124.438000,112.454000,1859.54900,659.929000,5.7240,193.681060,141.093150,5.762688,2.519478,3915.07,5240.72,3.788132,562.724,303.961
5,2021-09-30,125.669000,143.621000,1998.19100,813.518000,6.4010,217.010540,171.180400,6.674830,2.811709,3966.72,5163.41,4.296160,580.444,345.532
6,2021-10-31,122.030000,129.403000,1889.19600,989.297000,6.6908,232.288189,153.850060,6.881838,2.878493,4035.60,5426.48,5.773625,1082.764,373.798
7,2021-11-30,111.634000,120.585000,1844.53400,928.144000,6.6463,209.976386,142.032550,6.780344,2.772678,4097.58,5323.64,5.943797,1115.723,380.008
8,2021-12-31,97.011000,112.507000,1689.87300,789.147000,6.1945,178.660367,132.239750,6.386421,2.479020,4172.67,5397.43,5.965973,1090.623,361.167
9,2022-01-31,105.816000,102.736000,1778.07200,600.256000,6.0097,201.859649,119.818990,6.036641,2.378328,4231.15,5480.04,5.608766,1085.405,334.512
10,2022-02-28,103.235327,68.553600,1645.57210,351.013102,4.8897,162.411976,77.514070,4.864498,1.996585,4273.63,5303.55,4.173569,916.076,318.986
11,2022-03-31,73.911368,68.357207,1280.20514,273.709727,3.7076,121.298868,75.504387,3.642894,1.553980,4312.66,5201.73,3.356729,515.030,247.050
12,2022-04-30,59.399381,47.207602,1024.13586,233.724269,2.9067,87.364672,50.981402,2.742083,1.257860,4275.16,5776.56,0.002264,591.016,224.057
13,2022-05-31,76.214290,53.491478,1217.44917,279.997752,3.4428,111.609791,60.553278,3.530557,1.497447,4339.53,5653.47,0.002964,839.026,213.364
14,2022-06-30,111.772920,69.389800,1541.38408,439.413221,4.5108,177.904170,79.409310,4.607195,1.980797,4468.65,6255.79,0.002885,627.765,272.334
15,2022-07-31,114.264680,76.877770,1659.50314,451.206773,5.0128,150.201190,85.236470,4.995165,2.110710,4668.75,6384.87,0.004034,989.940,338.706
16,2022-08-31,95.652830,77.606960,1722.14141,626.013331,5.8464,134.149062,97.770530,5.831479,2.348155,4803.80,6749.37,0.003934,758.851,325.235
17,2022-09-30,83.881918,77.645700,1848.19063,716.829805,6.4244,177.125917,97.653361,6.623373,2.565020,4934.75,6798.66,0.005565,1233.333,349.822
18,2022-10-31,120.896700,84.707270,1954.19092,825.289492,6.7922,206.347401,104.677200,6.908870,2.779480,5013.97,6939.11,0.005889,1348.069,368.660
19,2022-11-30,144.648260,75.647687,1870.62998,806.011152,6.6659,268.466572,94.213038,6.938954,2.676641,5100.41,6993.72,0.006082,1367.746,383.548

In [7]:
file4 = pd.read_excel('Грузоперевозки.xlsx')
file4.head()

          dt  Индекс стоимости грузоперевозок
0 2017-09-06                             1000
1 2017-09-13                              991
2 2017-09-20                              992
3 2017-09-27                              979
4 2017-10-04                              985

In [8]:
file5 = pd.read_excel('Индекс LME.xlsx')
file5.head()

        дата цена
0 2021-02-12  607
1 2021-02-15  614
2 2021-02-16  615
3 2021-02-17  606
4 2021-02-18  604

In [9]:
file6 = pd.read_excel('Макропоказатели.xlsx')
file6.head(20)

,dt,Базовый индекс потребительских цен на товары и услуги,Ключевая ставка,Курс доллара
0,2016-01-31,NaN,NaN,NaN
1,2016-02-29,NaN,NaN,NaN
2,2016-03-31,NaN,NaN,NaN
3,2016-04-30,NaN,NaN,NaN
4,2016-05-31,NaN,NaN,NaN
5,2016-06-30,NaN,NaN,NaN
6,2016-07-31,NaN,NaN,NaN
7,2016-08-31,NaN,NaN,NaN
8,2016-09-30,NaN,NaN,NaN
9,2016-10-31,NaN,NaN,NaN
10,2016-11-30,NaN,NaN,NaN
11,2016-12-31,NaN,NaN,NaN
12,2018-01-09,NaN,7.75,NaN
13,2018-01-10,NaN,7.75,57.0463
14,2018-01-11,NaN,7.75,56.8734
15,2018-01-12,NaN,7.75,56.9957
16,2018-01-13,NaN,NaN,56.6019
17,2018-01-15,NaN,7.75,NaN
18,2018-01-16,NaN,7.75,56.3569
19,2018-01-17,NaN,7.75,56.3878

In [10]:
file7 = pd.read_excel('Показатели рынка металла.xlsx')
file7.head(20)

,dt,Производство арматуры Сортовой прокат_Арматура,Производство арматуры Сортовой прокат_Катанка,Производство арматуры Сортовой прокат_Прутки прочие,Производство сырья ЖРС_Агломерат,Производство сырья ЖРС_Аглоруда,Производство сырья ЖРС_Концентрат,Производство сырья ЖРС_Концентрат для дообогащения,Производство сырья ЖРС_Окатыши,Производство сырья Кокс_Кокс валовый,...,Экспорт сырья Лом_Лом стальной,Экспорт сырья Лом_Лом чугуна,Экспорт сырья Металлизованная продукция_Всего отгружено с предприятия,Экспорт сырья Металлизованная продукция_ГБЖ,Экспорт сырья Чугун_Всего отгружено с предприятия,Экспорт сырья Чугун_Литейный чугун,Экспорт сырья Чугун_Передельный чугун,Экспорт арматуры Сортовой прокат_Арматура,Экспорт арматуры Сортовой прокат_Катанка,Экспорт арматуры Сортовой прокат_Прутки прочие
0,2016-03-31,527,208,191,5127,376,9063,631,3691,2307,...,0,0,0,0,0,0,0,97,68,50
1,2016-04-30,563,231,216,4776,343,8850,608,3450,2297,...,0,0,0,0,0,0,0,118,79,55
2,2016-05-31,614,263,235,5107,420,9013,626,3849,2481,...,0,0,0,0,0,0,0,123,100,71
3,2016-06-30,659,242,237,4809,400,9275,613,3688,2372,...,0,0,0,0,0,0,0,129,78,61
4,2016-07-31,703,249,238,5147,420,9587,518,4032,2255,...,0,0,0,0,0,0,0,142,90,48
5,2016-08-31,671,257,245,4819,436,9130,596,3874,2289,...,0,0,0,0,0,0,0,88,91,71
6,2016-09-30,642,243,305,5221,399,8874,650,3765,2415,...,0,0,0,0,0,0,0,90,68,113
7,2016-10-31,646,230,265,5186,377,9220,593,4062,2497,...,0,0,0,0,0,0,0,102,62,64
8,2016-11-30,641,251,245,4933,348,9141,582,3889,2386,...,0,0,0,0,0,0,0,117,83,61
9,2016-12-31,669,245,240,4856,323,9198,617,3980,2333,...,0,0,0,0,0,0,0,98,73,56
10,2017-01-31,644,226,235,4978,321,9006,583,3882,2334,...,0,0,0,0,0,0,0,96,65,56
11,2017-02-28,616,243,224,5193,366,9185,638,4111,2437,...,0,0,0,0,0,0,0,145,83,67
12,2017-03-31,531,213,212,4954,278,9357,605,4403,2215,...,0,0,0,0,0,0,0,92,53,46
13,2017-04-30,524,210,237,4545,355,8339,570,3848,2149,...,0,0,0,0,0,0,0,102,71,58
14,2017-05-31,648,240,249,5325,425,9445,650,4249,2442,...,0,0,0,0,0,0,0,121,86,72
15,2017-06-30,653,234,233,5286,436,9252,614,4103,2361,...,0,0,0,0,0,0,0,140,63,50
16,2017-07-31,717,255,259,5071,436,9568,636,4552,2374,...,0,0,0,0,0,0,0,114,72,65
17,2017-08-31,685,250,261,4764,483,9272,427,4613,2254,...,0,0,0,0,0,0,11,108,91,80
18,2017-09-30,667,241,265,5001,512,9486,526,4299,2353,...,0,0,0,0,0,0,0,87,75,72
19,2017-10-31,704,264,266,5084,499,9474,528,4572,2354,...,0,0,0,0,0,0,0,91,82,76

In [11]:
file8 = pd.read_excel('Топливо.xlsx')
file8.head(100)

           dt  Цена на бензин  Цена на дт
0  2017-02-28           35.91       36.15
1  2017-03-31           36.11       36.58
2  2017-04-30           36.41       36.69
3  2017-05-31           36.64       36.80
4  2017-06-30           36.91       36.87
..        ...             ...         ...
71 2023-01-31           51.65       56.73
72 2023-02-28           51.68       57.34
73 2023-03-31           51.67       57.33
74 2023-04-30           51.67       57.38
75 2023-05-31           51.69       57.39

[76 rows x 3 columns]

In [12]:
file9 = pd.read_excel('Цены на сырье.xlsx')
file9.head()

,dt,"Концентрат коксующегося угля_Россия марка ОС FCA руб./т, без НДС","Лом_HMS 1/2 80:20, FOB EC Роттердам, $/т","Лом_3А, РФ CPT ж/д Южный ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Сибирский ФО, руб./т, без НДС","Лом_3А, РФ CPT ж/д Центральный ФО, руб./т, без НДС","ЖРС_Китай Iron ore fines Fe 62%, CFR","Чугун_CFR Италия, $/т","Концентрат коксующегося угля_Россия марка КО FCA руб./т, без НДС","ЖРС_Российские окатыши Fe 62-65,5%, SiO2 5,8-8,65, DAP Забайкальск-Манжули, $/т",...,"Лом_3А, РФ FCA ж/д Свердловская обл, руб./т, без НДС","Чугун_CFR Турция, $/т","ЖРС_Средневзвешенная цена окатыши Fe 62-65,5%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена концентрат Fe 64-68%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена аглоруда Fe 52-60%, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в аглоруде, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в концентрате, Россия FCA руб./т, без НДС","ЖРС_Средневзвешенная цена за 1 % Fe в окатыши, Россия FCA руб./т, без НДС","ЖРС_Украинский концентрат Fe 65-68%, DAP граница Украины с Европой, $/т","ЖРС_Украинские окатыши Fe 65-66%, DAP граница Украины с Европой, $/т"
0,2015-02-09,3850,228,12344,10009,12728,62,NaN,3700.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-02-16,3850,206,12271,10432,12852,63,NaN,3700.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-02-23,3850,207,12645,11981,13034,64,NaN,3700.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-03-02,3850,214,12696,11912,12910,63,NaN,3700.0,72.0,...,NaN,NaN,3540.0,2097.0,1261.0,23.0,NaN,NaN,NaN,NaN
4,2015-03-09,4400,232,12916,12061,12964,61,NaN,4050.0,70.0,...,NaN,NaN,3540.0,2097.0,1261.0,23.0,NaN,NaN,NaN,NaN

In [13]:
file10 = pd.read_csv('CHMF Акции.csv')
file10.head()

         Date     Price      Open      High       Low     Vol. Change %
0  03/31/2023  1,043.20  1,061.00  1,061.00  1,042.00  571.72K   -1.68%
1  03/30/2023  1,061.00  1,074.60  1,084.80  1,058.00    1.30M   -1.27%
2  03/29/2023  1,074.60  1,040.60  1,078.40  1,035.40    1.79M    3.53%
3  03/28/2023  1,038.00  1,041.40  1,044.00  1,033.00  269.09K   -0.17%
4  03/27/2023  1,039.80  1,036.20  1,042.60  1,032.20  410.74K    0.50%

In [14]:
file11 = pd.read_csv('MAGN Акции.csv')
file11.head()

         Дата   Цена  Откр.  Макс.   Мин.   Объём  Изм. %
0  31.03.2023  39,69  40,21  40,24  39,52  18,23M  -1,38%
1  30.03.2023  40,24  40,60  41,00  40,02  27,14M  -0,87%
2  29.03.2023  40,60  39,15  40,65  38,96  48,70M   3,70%
3  28.03.2023  39,15  39,45  39,75  38,91  17,02M  -0,62%
4  27.03.2023  39,40  38,99  39,48  38,92  20,95M   1,26%

In [15]:
file12 = pd.read_csv('NLMK Акции.csv')
file12.head()

         Date   Price    Open    High     Low    Vol. Change %
0  03/31/2023  129.32  130.60  130.60  128.36   3.54M   -0.98%
1  03/30/2023  130.60  132.30  133.44  129.80   4.85M   -0.94%
2  03/29/2023  131.84  128.00  134.44  127.10  10.37M    3.37%
3  03/28/2023  127.54  128.58  128.94  126.56   2.27M   -0.50%
4  03/27/2023  128.18  127.00  128.42  126.86   2.81M    1.33%

In [16]:
file13 = pd.read_excel('test.xlsx')
file13.head()

          dt  Цена на арматуру
0 2022-09-05             46000
1 2022-09-12             46000
2 2022-09-19             46000
3 2022-09-26             45500
4 2022-10-03             45500

In [18]:
file14 = pd.read_excel('train.xlsx')
file14.head()

          dt  Цена на арматуру
0 2015-01-05             32900
1 2015-01-12             32500
2 2015-01-19             32000
3 2015-01-26             30700
4 2015-02-02             30300